<div class="features text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-5">
        <img src="assets/images/icons/quality.svg" alt="">
        <h3 class="my-3">{{"about_us_title4"|translate}}</h3>
        <p>
          {{"about_us_desc4"|translate}}
        </p>
      </div>
      <div class="col-md-4 p-5">
        <img src="assets/images/icons/nature.svg" alt="">
        <h3 class="my-3">{{"about_us_title5"|translate}}</h3>
        <p>
          {{"about_us_desc5"|translate}}

        </p>
      </div>
      <div class="col-md-4 p-5">
        <img src="assets/images/icons/cashback.svg" alt="">
        <h3 class="my-3">{{"about_us_title6"|translate}}</h3>
        <p>
          {{"about_us_desc6"|translate}}

        </p>
      </div>
    </div>

  </div>
</div>


<div class="container mb-5 pl-5">
  <img src="assets/images/beautyelement.png" alt="">
</div>
