<ngx-spinner  *ngIf="loading"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#80AA27"
  type="ball-spin-clockwise"
  [fullScreen]="true"
></ngx-spinner>
<app-navbar></app-navbar>
<app-breadcrumb [breadcrumbData]="blogBreadCrumbData"></app-breadcrumb>

<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries" data-dir="direction-sensitive">
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#80AA27" type="ball-spin-clockwise" *ngIf="loading"></ngx-spinner>
          <article
            class="entry row"
            *ngFor="let post of blogArr; let i = index"
          >
            <div class="entry-img col-md-4 position-relative">
              <img loading="lazy" [src]="post.picture" alt="" class="img-fluid h-100 w-100" />
              <div class="layer">
                {{ post.creation | date : "dd-MM-yyyy" }}
              </div>
            </div>

            <div class="right col-md-8">
              <h2 class="entry-title">
                <a [routerLink]="'/blog/' + post.blogPostId">{{
                  post.title
                }}</a>
              </h2>
              <div class="entry-content" [innerHTML]="safeBlogContent[i]"></div>
              <div class="read-more">
                <a [routerLink]="'/blog/' + post.blogPostId">{{"read_more"|translate}}</a>
              </div>
            </div>
          </article>

          <div class="blog-pagination" *ngIf="totalPages > 1">
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
              </li>
              <li
                *ngFor="let page of visiblePages"
                class="page-item"
                [class.active]="page === currentPage"
              >
                <a class="page-link" (click)="changePage(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
              </li>
            </ul>
          </div>

      </div>

      <div class="col-lg-4">
        <div class="sidebar">
          <h3 class="sidebar-title">Search</h3>

          <div class="sidebar-item search-form">
            <form (submit)="search()">
              <input
                type="text"
                [attr.placeholder]="'Search ...'"
                [(ngModel)]="term"
                name="searchTerm"
                [ngClass]="{ 'no-results-placeholder': noResults }"
              />
              <button type="submit"><i class="pi pi-search"></i></button>
            </form>
          </div>


          <h3 class="sidebar-title text-uppercase">Latest Articles</h3>
          <div class="sidebar-item recent-posts">
            <div [routerLink]="'/blog/' + blog.blogPostId"
              class="post-item clearfix"
              *ngFor="let blog of blogArr | slice : 0 : 4"
            >
              <img loading="lazy" [src]="blog.picture" alt="" height="70" />
              <h4>
                <a>{{ blog.title }}</a>
              </h4>
              <time> {{ blog.creation | date : "dd-MM-yyyy" }}</time>
            </div>
          </div>

          <h3 class="sidebar-title">Tags</h3>
          <div class="sidebar-item tags">
            <ul>
              <li *ngFor="let tag of tags" (click)="filterByTag(tag)">
                <span [class.selected]="selectedTag === tag">{{ tag }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
