<app-navbar></app-navbar>
<app-breadcrumb [breadcrumbData]="contactBreadCrumbData"></app-breadcrumb>
<div class="contact main-section">
  <div class="container">
    <!-- Existing content -->
    <div class="mt-4 pt-5">
      <div class="row mt-5">
        <div class="col-md-6">
          <img src="assets/images/bg-bread.png" class="img-fluid h-100" alt="">
        </div>
        <div class="col-md-6 bg-white">
          <h3 class="text-black fs-4" style="padding-left: 30px; margin-top: 15px;font-size: 22px; font-weight: 400; line-height: 30px;">Send Your Question</h3>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="php-email-form">
            <div class="row gy-4">
              <div class="col-md-12">
                <input type="text" formControlName="name" class="form-control" placeholder="Your Name" required>
              </div>
              <div class="col-md-12">
                <input type="email" formControlName="email" class="form-control" placeholder="Your Email" required>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" formControlName="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="text-uppercase d-block w-100" [disabled]="contactForm.invalid || isLoading">
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <span *ngIf="!isLoading" >Send</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
