
<div class="card flex justify-content-center product-card position-relative mb-5">

  <p-card [header]="productCardData.name | slice:0:20" [style]="{color:'var(--secondaryColor)',margin:'0',paddingTop:'0'}" [subheader]="(productCardData.about| slice:0:100)" styleClass="product-card">

      <ng-template pTemplate="header">
        <div class="d-flex align-items-center mt-3 wish" (click)="toggleWishlist(productCardData.productId)">
          <div style="cursor: pointer;">
            <ng-container *ngIf="productCardData.inWishlist; else notInWishlist">
              <i class="pi pi-heart-fill me-2" [ngClass]="{'filled-heart': productCardData.inWishlist}"></i>
            </ng-container>
            <ng-template #notInWishlist>
              <i class="pi pi-heart me-2" [ngClass]="{'outlined-heart': !productCardData.inWishlist}"></i>
            </ng-template>
          </div>
          <p class="m-0 p-0" style="cursor: pointer;"></p>
        </div>
          <a [routerLink]="getRouterLink()">
            <img alt="Card" [src]="productCardData.pictures[0]" />
          </a>
      </ng-template>
      <div *ngIf="DisplaySalePos()" class="sale-pos">-{{(((productCardData.priceBeforeDiscount - productCardData.priceAfterDiscount )/productCardData.priceBeforeDiscount)*100)| floor}}%</div>
      <div>
        <p-rating [(ngModel)]="productCardData.reviews"  [cancel]="false" starStyleClass="custom-stars"/>
        <div class="price">{{productCardData.priceAfterDiscount| currency:'USD'}}</div>
      </div>
      <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <!-- <button class="btn-main" [routerLink]="['/cart']">Add To cart</button> -->
            <button class="btn-main" [disabled]="!isLoggedIn" (click)="onAddToCart(productCardData.productId)">Add To cart</button>
          </div>
      </ng-template>
  </p-card>
  <div *ngIf="notificationMessage" class="custom-notification" [ngClass]="{'success': notificationType === 'success', 'error': notificationType === 'error'}">
    <div class="message">{{ notificationMessage }}</div>
    <button class="close-button" (click)="clearNotification()">Close</button>
  </div>
</div>
