.card {
  background-color: red !important;
}

.product-card {
  box-shadow: rgba(99, 99, 99, 0.137) 0px 2px 8px 0px;
  padding: 0px 0px 10px 0px;
  text-align: center;
  border: 0;
  position: relative;
}

.price {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

.card img {
  /* max-height: 195px; */
}

.custom-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 18px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.success {
  background-color: #80aa27;
}

.error {
  background-color: #f44336;
}

.message {
  margin-bottom: 10px;
}

.close-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
i{
  position: absolute;
  top:2%;
  right: 2%;
  font-size: 20px;
  text-align: right;
}
.pi-heart-fill {
  color: red;
}

.product-card img {
  margin: 0;
  padding: 0;
}

.p-card-header {
  margin: 0;
  padding: 0;
}

.p-card-body {
  padding-top: 0;
  margin-top: 0;
}

.d-flex {
  margin: 0;
  padding: 0;
}
.card.flex.justify-content-center.product-card.position-relative.mb-5 {
  margin: 0;
  padding: 0;
}

.d-flex.align-items-center.wish {
  margin: 0;
  padding: 0;
}

img {
  margin: 0 0 10px 0;
  padding: 0;
  display: block;
  max-height: 220px;
}
