<footer class="py-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <a routerLink="/about" class="text-uppercase text-decoration-none text-white fs-6 me-5">{{'about_us'|translate}}</a>
      <a routerLink="/contact" class="text-uppercase text-decoration-none text-white fs-6">{{'contact_us'|translate}}</a>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 col-md-6">
        <div class="mb-3">
          <i class="pi pi-phone me-3 text-white"></i>
          <span class="text-white">+212665667956</span>
        </div>
        <div class="mb-3">
          <i class="pi pi-map-marker me-3 text-white"></i>
          <span class="text-white">{{'Mezanine block B Office n° 4 BOROUJ 16 Avenue des Far N° 873 Tétouan'}}</span><br>
          <!-- <span class="text-white">{{'addr2'|translate}}</span> -->
        </div>
        <div class="mb-3">
          <i class="pi pi-inbox
          me-3 text-white"></i>
          <span class="text-white">contact&#64;vitaparapharma.com</span>
        </div>
        <div class="mb-3">
          <i class="pi pi-clock
          me-3 text-white"></i>
          <span class="text-white">Mon-Fri: 10:00 - 18:00</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-4">
        <div class="d-flex justify-content-center">
          <img src="assets/images/logo.svg" class="text-center" alt="">
        </div>
        <div class="d-flex justify-content-center mt-4">
          <a href="#" class="mx-2 text-white">
            <i class="pi pi-facebook"></i>
          </a>
          <a href="#" class="mx-2 text-white">
            <i class="pi pi-instagram
            "></i>
          </a>
          <a href="#" class="mx-2 text-white">
            <i class="pi pi-twitter
            "></i>
          </a>
          <a href="#" class="mx-2 text-white">
            <i class="pi pi-youtube"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4">
        <p class="text-white fs-6">{{'footer_desc'|translate}}</p>
        <div style="text-align: right;">
          <a href="#" class="text-white text-uppercase fs-6 fw-light text-decoration-none">{{'read_more'|translate}}</a>
        </div>

      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="copyright text-white">
          &copy; Copyright 2024<strong><span> Vitaparapharma</span></strong>. {{'all_rights'|translate}}
        </div>
      </div>
      <div class="col-md-6" style="text-align: right;">
        <a routerLink="/faq" class="mx-2 text-white fs-6 text-decoration-none">FAQ</a>
        <a routerLink="/terms" class="mx-2 text-white fs-6 text-decoration-none">TERMS</a>
        <a routerLink="/faq" class="mx-2 text-white fs-6 text-decoration-none">PRIVACY POLICY</a>


      </div>
    </div>
  </div>
</footer>
