<section class="articles main-section">
  <div class="container">
    <div class="text-center latest text-uppercase">{{'latest'|translate}}</div>
    <h2 class="text-center text-uppercase">{{'article_head'|translate}}</h2>
    <div class="row" *ngIf="blogPosts.length">
      <div class="col-md-6 mb-3" *ngFor="let post of blogPosts | slice:0:4">
        <div class="row">
          <div class="article-image col-5">
            <img [src]="post.picture" alt="">
          </div>
          <div class="article-details col-6">
            <div class="d-flex justify-content-center align-items-start flex-column p-3">
              <h4>{{post.title}}</h4>
              <ul *ngFor="let tag of post.tags">
                <li>{{tag}}</li>
              </ul>
              <a  [routerLink]="['/blog', post.blogPostId]" class="text-uppercase read">{{"read_more"|translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
