
.single-product h3{
  font-family: "Marcellus", "Helvetica Neue";
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 10px;
}
.single-product .subhead{
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #000;
}
.single-product .numreview{
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}


.old-price{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 20px;
}


.price{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 20px;
}

.single-product .desc{
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
}

.single-product .wish{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}


.single-product .nav-tabs{
  display :flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}

.related h2{
  font-family: "Rubik", sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 40px;
}

.image-review{
  display: flex;
  align-items: center;
}
.image-review div{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;

}
.image-review img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.review-details p{
  font-size: 14px;
}

.text-review{
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.card {
  background-color: white !important;
}

.product-card {
  box-shadow: rgba(99, 99, 99, 0.137) 0px 2px 8px 0px;
  padding: 10px;
  text-align: center;
  border: 0;
}

.price {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

.card img {
  max-height: 195px;
}

.custom-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 18px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.success {
  background-color: #80aa27;
}

.error {
  background-color: #f44336;
}

.message {
  margin-bottom: 10px;
}

.close-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

i{
  font-size: 1.5rem;
}

.filled-heart {
  color: red; 
}

.outlined-heart {
  color: inherit;
}
