<app-navbar></app-navbar>
<app-breadcrumb [breadcrumbData]="profileBreadCrumbData"></app-breadcrumb>
<div class="container my-5">
  <h2>Profile</h2>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="text-center mb-4">
      <img
        [src]="profileImageUrl || 'assets/images/avatar.png'"
        class="rounded-circle"
        alt="Avatar"
        width="100"
        height="100"
      />
      <div>
        <input type="file" (change)="onFileChange($event)" accept="image/*" class="d-none" #fileInput>
        <button type="button" class="btn btn-link" (click)="fileInput.click()">
          Edit
        </button>
        <button type="button" class="btn btn-link text-danger" (click)="onDeleteImage()">
          Delete
        </button>
      </div>
    </div>

    <div class="form-row row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control mb-3"
          id="firstName"
          formControlName="firstName"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control mb-3"
          id="lastName"
          formControlName="lastName"
        />
      </div>
    </div>

    <div class="form-row row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control mb-3"
          id="email"
          formControlName="email"
          [attr.disabled]="isUpdateMode ? true : null"
        />
      </div>

      <div class="form-group col-md-6">
        <label for="phone">Phone Number</label>
        <input
          type="text"
          class="form-control mb-3"
          id="phone"
          formControlName="phone"
        />
      </div>
    </div>

    <div class="form-row row">
      <div class="form-group col-md-6">
        <label for="dateOfBirth">Date of Birth</label>
        <input
          type="date"
          class="form-control mb-3"
          id="dateOfBirth"
          formControlName="dateOfBirth"
        />
      </div>

      <div class="form-group mb-3 col-md-6">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" formControlName="male">
          <option [ngValue]="true">Male</option>
          <option [ngValue]="false">Female</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-block my-3 d-block w-50 m-auto">
      {{ isUpdateMode ? 'Update' : 'Save' }}
    </button>
  </form>
</div>
<app-footer></app-footer>
