



<app-navbar></app-navbar>
<app-breadcrumb [breadcrumbData]="faqBreadCrumbData"></app-breadcrumb>
<div class="terms-container" data-dir="direction-sensitive" >
  <h1>{{ 'Terms' | translate }}</h1>
  <section>
      <h2>{{ 'terms_conditions_title_1' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_1' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_2' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_2' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_3' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_3' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_4' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_4' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_5' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_5' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_6' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_6' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_7' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_7' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_8' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_8' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_9' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_9' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_10' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_10' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_11' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_11' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_12' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_12' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_13' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_13' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_14' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_14' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_15' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_15' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_16' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_16' | translate }}</p>
  </section>
  <section>
      <h2>{{ 'terms_conditions_title_17' | translate }}</h2>
      <p>{{ 'terms_conditions_desc_17' | translate }}</p>
  </section>
</div>


<app-footer></app-footer>
