<app-navbar></app-navbar>
<app-breadcrumb [breadcrumbData]="faqBreadCrumbData"></app-breadcrumb>
<div class="main-section" data-dir="direction-sensitive">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- F.A.Q List 1-->
        <div class="accordion accordion-flush" id="faqlist1">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-1">
                {{'faq_question1'|translate}}
              </button>
            </h2>
            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                {{'faq_answer1'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-2">
                {{'faq_question2'|translate}}
              </button>
            </h2>
            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                {{'faq_answer2'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-3">
                {{'faq_question3'|translate}}
              </button>
            </h2>
            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                {{'faq_answer3'|translate}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-4">
                {{'faq_question4'|translate}}
              </button>
            </h2>
            <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist4">
              <div class="accordion-body">
                {{'faq_answer4'|translate}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-5">
                {{'faq_question5'|translate}}
              </button>
            </h2>
            <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist5">
              <div class="accordion-body">
                {{'faq_answer5'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-6">
                {{'faq_question6'|translate}}
              </button>
            </h2>
            <div id="faq-content-6" class="accordion-collapse collapse" data-bs-parent="#faqlist6">
              <div class="accordion-body">
                {{'faq_answer6'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-7">
                {{'faq_question7'|translate}}
              </button>
            </h2>
            <div id="faq-content-7" class="accordion-collapse collapse" data-bs-parent="#faqlist7">
              <div class="accordion-body">
                {{'faq_answer7'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-8">
                {{'faq_question8'|translate}}
              </button>
            </h2>
            <div id="faq-content-8" class="accordion-collapse collapse" data-bs-parent="#faqlist8">
              <div class="accordion-body">
                {{'faq_answer8'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-9">
                {{'faq_question9'|translate}}
              </button>
            </h2>
            <div id="faq-content-9" class="accordion-collapse collapse" data-bs-parent="#faqlist9">
              <div class="accordion-body">
                {{'faq_answer9'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-10">
                {{'faq_question10'|translate}}
              </button>
            </h2>
            <div id="faq-content-10" class="accordion-collapse collapse" data-bs-parent="#faqlist10">
              <div class="accordion-body">
                {{'faq_answer10'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-11">
                {{'faq_question11'|translate}}
              </button>
            </h2>
            <div id="faq-content-11" class="accordion-collapse collapse" data-bs-parent="#faqlist11">
              <div class="accordion-body">
                {{'faq_answer11'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-12">
                {{'faq_question12'|translate}}
              </button>
            </h2>
            <div id="faq-content-12" class="accordion-collapse collapse" data-bs-parent="#faqlist12">
              <div class="accordion-body">
                {{'faq_answer12'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-13">
                {{'faq_question13'|translate}}
              </button>
            </h2>
            <div id="faq-content-13" class="accordion-collapse collapse" data-bs-parent="#faqlist13">
              <div class="accordion-body">
                {{'faq_answer13'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-14">
                {{'faq_question14'|translate}}
              </button>
            </h2>
            <div id="faq-content-14" class="accordion-collapse collapse" data-bs-parent="#faqlist14">
              <div class="accordion-body">
                {{'faq_answer14'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-15">
                {{'faq_question15'|translate}}
              </button>
            </h2>
            <div id="faq-content-15" class="accordion-collapse collapse" data-bs-parent="#faqlist15">
              <div class="accordion-body">
                {{'faq_answer15'|translate}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-16">
                {{'faq_question16'|translate}}
              </button>
            </h2>
            <div id="faq-content-16" class="accordion-collapse collapse" data-bs-parent="#faqlist16">
              <div class="accordion-body">
                {{'faq_answer16'|translate}}
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<app-footer></app-footer>
