<app-navbar></app-navbar>
<div
  class="breadcrumb d-flex justify-content-center align-items-center text-center text-capitalize text-white breadcrumb-all"
>
  <div class="overlay"></div>
  <div class="content text-center">
    <h2 class="text-uppercase">Gallery post</h2>
    <nav
      style="
        --bs-breadcrumb-divider: url(
          &#34;data:image/svg + xml,
          %3Csvgxmlns='http://www.w3.org/2000/svg'width='8'height='8'%3E%3Cpathd='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z'fill='%236c757d'/%3E%3C/svg%3E&#34;
        );
      "
      aria-label="breadcrumb"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-uppercase">
          <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active text-uppercase" aria-current="page">
          <a routerLink="../">Blog</a>
        </li>
        <li class="breadcrumb-item active text-uppercase" aria-current="page">
          Gallery post
        </li>
      </ol>
    </nav>
  </div>
</div>
<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
  <div class="container">
    <div class="row">
      <div class="col-12 entries">
        <article class="entry entry-single" *ngIf="blog">
          <div class="entry-img">
            <img [src]="blog.pictureUrl" alt="" class="img-fluid w-100" />
          </div>

          <h2 class="entry-title">
            <a href="blog-single.html">{{ blog.title }}</a>
          </h2>

          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center">
                <i class="pi pi-person"></i>
                <a href="blog-single.html">MAYAR</a>
              </li>
              <li class="d-flex align-items-center">
                <i class="pi pi-clock"></i>
                <a href="blog-single.html"
                  ><time datetime="2020-01-01">{{ blog.dateCreated }}</time></a
                >
              </li>
              <li class="d-flex align-items-center">
                <i class="pi pi-chat-dots"></i>
                <a href="blog-single.html">12 Comments</a>
              </li>
            </ul>
          </div>

          <div class="entry-content">
            <div class="entry-content" [innerHTML]="safeBlogContent"></div>
          </div>
          <div class="likeshare mt-4">
            <div class="d-flex align-items-center">
              <a href="javascript:void(0)" class="me-3" (click)="like()"
                ><i class="pi pi-thumbs-up text-black"> {{ blog.likes }}</i>
              </a>
              <a href="javascript:void(0)" class="me-3" (click)="dislike()"
                ><i class="pi pi-thumbs-down text-black">
                  {{ blog.dislikes }}</i
                ></a
              >
              <a href="blog-single.html" class="me-3"
                ><i class="pi pi-share-alt text-black"></i
              ></a>
            </div>
          </div>
        </article>

        <div class="blog-author d-flex align-items-center">
          <div class="image-container me-3">
            <img src="assets/images/profile.jpeg" alt="" />
          </div>
          <div>
            <h4>MAYAR</h4>

            <p class="mb-1">
              For county now sister engage had season better had waited.
              Occasional mrs interested far expression. Engage had season better
              had waited. Occasional mrs interested far expression.
            </p>
            <div class="social-links">
              <a href="https://twitters.com/#"><i class="pi pi-twitter"></i></a>
              <a href="https://facebook.com/#"
                ><i class="pi pi-facebook"></i
              ></a>
              <a href="https://instagram.com/#"
                ><i class="pi pi-instagram"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End blog author bio -->

        <div class="blog-comments">
          <!-- <h4 class="comments-count">8 Comments</h4>



          <div id="comment-2" class="comment">
            <div class="d-flex">
              <div class="comment-img"><img src="assets/images/review.jpeg" alt=""></div>
              <div>
                <h5><a href="">Aron Alvarado</a>
                </h5>
                <time datetime="2020-01-01">01 Jan, 2020</time>
                <p>
                  Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                </p>
              </div>
            </div>



          </div> -->

          <!-- <div id="comment-3" class="comment">
            <div class="d-flex">
              <div class="comment-img"><img src="assets/images/profile.jpeg" alt=""></div>
              <div>
                <h5><a href="">Nolan Davidson</a>
                </h5>
                <time datetime="2020-01-01">01 Jan, 2020</time>
                <p>
                  Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium
                  tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus
                  iste at.
                  Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia
                  beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum
                  dolorem.
                </p>
              </div>
            </div>

          </div>
 -->

          <!-- <div class="reply-form w-75">
            <h4 class="text-muted fw-bold">Post a Comment</h4>
            <form>
              <div class="row">
                <div class="col form-group">
                  <textarea name="comment" class="form-control" placeholder="Comment *"></textarea>
                </div>
              </div>
              <button type="submit" class="btn w-100 btn-outline-comment">Post Comment</button>

            </form>

          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Blog Single Section -->
<!-- <div class="container">
  <div class="row related main-section">
    <h2 class="text-center mb-3">Related products</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let relatedItem of relatedProducts">
        <app-productcard [productCardData]="relatedItem" origin="single-product"></app-productcard>
      </div>
    </div>

  </div>
</div> -->
<app-footer></app-footer>
