<app-navbar></app-navbar>
<app-breadcrumb [breadcrumbData]="shopBreadCrumbData"></app-breadcrumb>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 mb-5">Showing 1-12 of 21 results</div>
    <div class="col-md-6 mb-5 d-flex justify-content-md-end">
      <div>
        <select name="" id="" class="form-control" >
          <option value="">Default Sorting</option>
          <option value="">Default Sorting</option>
          <option value="">Default Sorting</option>
          <option value="">Default Sorting</option>
        </select>
      </div>
    </div>
  </div>
  <!-- <ngx-spinner bdColor="rgba(255,0,0,0.8)" size="medium" color="#000" type="ball-pulse-sync"></ngx-spinner> -->
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-pulse-sync">
    <p style="color: white"></p>
  </ngx-spinner>
  <div class="row">


    <div class="col-lg-4 col-md-6" *ngFor="let product of products">
      <app-productcard [productCardData]="product" origin="shop"></app-productcard>
    </div>
  </div>
</div>

<app-footer></app-footer>
